<div class="card mt-4">
  <h4 class="card-header">Admin</h4>
  <div class="card-body">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Email</th>
      </tr>
      </thead>
      <tbody *ngIf="users">
      <tr *ngFor="let user of users">
        <th scope="row">{{user.id}}</th>
        <td>{{user.firstname}}</td>
        <td>{{user.lastname}}</td>
        <td>{{user.email}}</td>
        <td>{{user.profession}}</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
