<div class="wrapper-top"></div>
<div class="wrapper-mid">
  <!-- Begin Paper -->
  <div id="paper">
    <div class="paper-top"></div>
    <div id="paper-mid">
      <div class="entry-info">
        <!-- Begin Image -->
        <div *ngIf="currentUser.filename;" (click)="open(content)">
          <img class="portrait" src="http://localhost/uploads/users/{{currentUser.filename}}" alt="{{currentUser.firstname}} {{currentUser.lastname}}" />
        </div>
        <div *ngIf="!currentUser.filename;" (click)="open(content)">
          <img class="portrait" src="../../assets/images/default.png" alt="{{currentUser.firstname}} {{currentUser.lastname}}" />
        </div>

        <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form [formGroup]="myForm" (ngSubmit)="submit()">
            <div class="modal-body">
                <div class="form-group">
                  <div class="input-group">
                    <div class="form-group">
                        <input
                          formControlName="file"
                          id="file"
                          type="file"
                          class="form-control"
                          (change)="onFileChange($event)">
                      </div>

                  </div>
                </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" type="submit">Submit</button>
              <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
            </div>
          </form>
        </ng-template>
        <!-- End Image -->
        <!-- Begin Personal Information -->
        <div class="card card-prodile">
          <div class="card-body">
            <div class="self">
              <h1 class="name">{{currentUser.firstname| uppercase}} {{currentUser.lastname| uppercase}}<br />
                <span>{{currentUser.profession}}</span></h1>
              <ul>
                <li class="ad">{{currentUser.address}}</li>
                <li class="mail">{{currentUser.email}}</li>
                <li class="tel">{{currentUser.phone}}</li>
              </ul>
            </div>
            </div>
        </div>
        <!-- End Personal Information -->

      </div>
      <!-- Begin 1st Row -->
      <div class="card card-prodile">
        <div class="card-body">
          <div class="entry-objectif">
            <h2>OBJECTIVE</h2>
            <p>{{currentUser.profession}}</p>
          </div>
        </div>
      </div>
      <!-- End 1st Row -->
      <!-- Begin 2nd Row -->
      <div class="card card-prodile">
        <div class="card-body">
          <div class="entry">
            <h2>Formation</h2>
            <div class="content" *ngFor="let formation of currentUser.formations">
              <h3>{{formation.dateObtained | date:'MMM-yyyy'}} </h3>
              <p>{{formation.name}}<br />
                <em>{{formation.establishment}}</em></p>
            </div>
          </div>
        </div>
      </div>
      <!-- End 2nd Row -->
      <!-- Begin 3rd Row -->
      <div class="card card-prodile">
        <div class="card-body">
          <div class="entry">
            <h2>EXPERIENCE</h2>
            <div class="content" *ngFor="let experience of currentUser.experiences">
              <h3>
                <span>{{experience.start_date | date:'MMM-yyyy'}}</span>
                 - <span *ngIf="experience.end_date">{{experience.end_date | date:'MMM-yyyy'}}</span>
                <span *ngIf="!experience.end_date">Aujourd'hui</span>
              </h3>
              <p>Societe<br />
                <em>{{experience.title}}</em></p>
              <ul class="info">
               <li>{{experience.description}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- End 3rd Row -->
      <!-- Begin 4th Row -->
      <div class="card card-prodile">
        <div class="card-body">
          <div class="entry">
            <h2>SKILLS</h2>
            <div class="content">
              <h3>Software Knowledge</h3>
              <ul class="skills">
                <li>Photoshop</li>
                <li>Illustrator</li>
                <li>InDesign</li>
                <li>Flash</li>
                <li>Fireworks</li>
                <li>Dreamweaver</li>
                <li>After Effects</li>
                <li>Cinema 4D</li>
                <li>Maya</li>
              </ul>
            </div>
            <div class="content">
              <h3>Languages</h3>
              <ul class="skills">
                <li *ngFor="let competance of currentUser.competances">{{competance.name}}</li>

              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- End 4th Row -->
    </div>
    <div class="clear"></div>
    <div class="paper-bottom"></div>
  </div>
</div>
