<div class="wrapper-mid">
  <!-- Begin Paper -->
  <div id="paper">
    <div class="paper-top"></div>
    <div id="paper-mid">
      <div class="entry-info">
        <!-- Begin Image -->
        <div *ngIf="currentUser.filename;" (click)="open(UploadComponent)">
          <img class="portrait" src="http://localhost/uploads/users/{{currentUser.filename}}" alt="{{currentUser.firstname}} {{currentUser.lastname}}" />
        </div>
        <div *ngIf="!currentUser.filename;" (click)="open(UploadComponent)">
          <img class="portrait" src="../../assets/images/default.png" alt="{{currentUser.firstname}} {{currentUser.lastname}}" />
        </div>
        <!-- End Image -->
        <!-- Begin Personal Information -->
        <div class="card card-prodile">
          <div (click)="open(InformationComponent, 'information')">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-fill edit-icon" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
            </svg>
          </div>
          <div class="card-body">
            <div class="self">
              <h1 class="name">{{currentUser.firstname}} {{currentUser.lastname}}<br />
                <span>{{currentUser.profession}}</span></h1>
              <ul>
                <li class="ad">{{currentUser.address}}</li>
                <li class="mail">{{currentUser.email}}</li>
                <li class="tel">{{currentUser.phone}}</li>
              </ul>
            </div>
            </div>
        </div>
        <!-- End Personal Information -->

      </div>
      <!-- Begin 1st Row -->
      <div class="card card-prodile">
        <div (click)="open(ObjectifComponent, 'objectif')">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-fill edit-icon" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
          </svg>
        </div>
        <div class="card-body">
          <div class="entry-objectif">
            <h2>OBJECTIVE</h2>
            <p>{{currentUser.objectif}}</p>
          </div>
        </div>
      </div>
      <!-- End 1st Row -->
      <!-- Begin 2nd Row -->
      <div class="card card-prodile">
        <div class="card-body">
          <div class="entry">
            <h2>Formation</h2>
            <div class="content" *ngFor="let formation of currentUser.formations">
              <div (click)="open(FormationComponent, {type: 'formation', object: formation})">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-fill edit-icon" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                  </svg>
              </div>
              <h3>{{formation.dateObtained | date:'MMM-yyyy'}} </h3>
              <p>{{formation.name}}<br />
                <em>{{formation.establishment}}</em></p>
            </div>
          </div>
        </div>
      </div>
      <!-- End 2nd Row -->
      <!-- Begin 3rd Row -->
      <div class="card card-prodile">
        <div class="card-body">
          <div class="entry">
            <h2>EXPERIENCE</h2>
            <div class="content" *ngFor="let experience of currentUser.experiences">
              <div>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-fill edit-icon" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                </svg>
              </div>
              <h3>
                <span>{{experience.start_date | date:'MMM-yyyy'}}</span>
                 - <span *ngIf="experience.end_date">{{experience.end_date | date:'MMM-yyyy'}}</span>
                <span *ngIf="!experience.end_date">Aujourd'hui</span>
              </h3>
              <p>Societe<br />
                <em>{{experience.title}}</em></p>
              <ul class="info">
               <li>{{experience.description}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- End 3rd Row -->
      <!-- Begin 4th Row -->
      <div class="card card-prodile">
        <div>
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-fill edit-icon" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
          </svg>
        </div>
        <div class="card-body">
          <div class="entry">
            <h2>SKILLS</h2>
            <div class="content">
              <h3>Software Knowledge</h3>
              <ul class="skills">
                <li>Photoshop</li>
                <li>Illustrator</li>
                <li>InDesign</li>
                <li>Flash</li>
                <li>Fireworks</li>
                <li>Dreamweaver</li>
                <li>After Effects</li>
                <li>Cinema 4D</li>
                <li>Maya</li>
              </ul>
            </div>
            <div class="content">
              <h3>Languages</h3>
              <ul class="skills">
                <li *ngFor="let competance of currentUser.competances">{{competance.name}}</li>

              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- End 4th Row -->
    </div>
    <div class="clear"></div>
    <div class="paper-bottom"></div>
  </div>
</div>
